$primary-color: #3f51b5;
$primary-color-dark: #002984;
$primary-color-light: #757de8;
$secondary-color: #ff9800;
$secondary-color-dark: #c66900;
$secondary-color-lihgt: #ffc947;
$valid-color: green;
$invalid-color: red;